<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="assets/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/right.css" rel="stylesheet">
    <script src="assets/jquery-3.5.1.min.js"></script>
    <script src="assets/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="assets/vue.min-v2.5.16.js"></script>
    <script src="assets/vue-router.min-2.7.0.js"></script>
    <script src="assets/axios.min.js"></script>
</head>
<body>
    <div id="app" class="container">
        <div class="row" style="background-color: white; height: 60px; padding: 13px; border: none; border-radius: 8px;">
            <div class="col-md-1 col-md-offset-1">
                <label style="height: 34px; line-height: 34px;">电话:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" v-model="tel">
            </div>
            <div class="col-md-2 col-md-offset-1">
                <label style="height: 34px; line-height: 34px;">身份证号:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" v-model="identity">
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" @click="doSelect">查询</button>
            </div>
        </div>
        <div class="col-md-12" style="height: 50px; line-height: 50px;">
            <button class="btn btn-info" @click="doAdd">添加</button>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
<!--                    <caption>业主列表</caption>-->
                    <thead>
                    <tr>
                        <th>业主姓名</th>
                        <th>性别</th>
                        <th>联系方式</th>
                        <th>身份证号</th>
                        <th>房屋编号</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="o in ownerList">
                        <td>{{o.userName}}</td>
                        <td>{{o.sex}}</td>
                        <td>{{o.tel}}</td>
                        <td>{{o.identity}}</td>
                        <td>{{o.numbers}}</td>
                        <td>
                            <button class="btn btn-primary" @click="doUpdate(o.id)">修改</button>
                            <button class="btn btn-danger" @click="doDelete(o.id)">删除</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="pagination" v-for="p in pageNum">
                    <li v-if="p == pageIndex" class="active"><a @click="doGo(p)">{{p}}</a></li>
                    <li v-else="p == pageIndex" ><a @click="doGo(p)">{{p}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                ownerList:null,

                tel:null,
                identity:null,

                pageIndex:1,
                pageSize:2,
                pageTotal:0,
                pageNum:0
            },
            methods: {
                //请求业主列表
                requestOwnerList(p){
                    axios.get("http://localhost:8080/owner/list?pageIndex="+p+"&pageSize="+this.pageSize).then(response => {
                        this.ownerList = response.data.data;
                        this.pageTotal = response.data.pageTotal;
                        this.pageNum = Math.ceil(this.pageTotal/this.pageSize);
                    });
                },
                //查询
                doSelect(){
                    axios.get("http://localhost:8080/owner/list?pageIndex="+this.pageIndex+"&pageSize="+this.pageSize+"&tel="+this.tel+"&identity="+this.identity).then(response => {
                        // console.log("http://localhost:8080/owner/list?pageIndex="+this.pageIndex+"&pageSize="+this.pageSize+"&tel="+this.tel+"&identity="+this.identity);
                        console.log(response.data);
                        this.ownerList = response.data.data;
                        this.pageTotal = response.data.pageTotal;
                        this.pageNum = Math.ceil(this.pageTotal/this.pageSize);
                    });
                },
                //分页
                doGo(p){
                    this.pageIndex = p;
                    this.requestOwnerList(this.pageIndex);
                },
                //添加
                doAdd(){
                    window.parent.main_right.location.href = "owner_add_update.html";
                },
                //修改
                doUpdate(id){
                    window.parent.main_right.location.href = "owner_add_update.html?id="+id;
                },
                //删除
                doDelete(id){
                    axios.get("http://localhost:8080/owner/remove?id="+id).then(response => {
                        if(response.data.code == 200){//删除成功
                            this.requestOwnerList(1);
                        }else{//删除失败
                            alert(response.data.msg)
                        }
                    });
                }
            },
            created: function () {
                this.requestOwnerList(this.pageIndex);
            }
        });
    </script>
</body>
</html>